@charset "UTF-8";

html {
	background-color: #D4DCDE;
}
html,body {
	height: 100%
}	
table {
	width:70%;
	text-align: center;
	border : 1px solid;
	margin: 0 auto;
	position: relative;
}
th,td {
	border: 1px solid;
}